<form action="Home/Result" method="post">
    BUSINESS NAME: <input type="text" name="busName" /> <br />
    GEOTAG: <input type="text" name="geotag" /> <br />
    URL: <input type="text" name="url" /> <br />
    PHONE: <input type="text" name="phone" /> <br />
    FAX: <input type="text" name="fax" /> <br />
    ADDRESS ONE: <input type="text" name="add1" /> <br />
    ADDRESS TWO: <input type="text" name="add2" /> <br />
    CITY, STATE, ZIP: <input type="text" name="city" /> <br />
    GOO.GL URL: <input type="text" name="googUrl" /> <br />
    EMBED URL: <input type="text" name="embedUrl" /> <br />

    <br />
    HOURS <br />
    DAY SPAN 1: <input type="text" name="days1" /> <br />
    HOURS 1: <input type="text" name="hours1" /> am<input type="radio" name="ampm1" value="a.m." /> pm
    <input type="radio" name="ampm1" value="p.m." /> TO <input type="text" name="hours2"/>am<input type="radio" name="ampm2" value="a.m." />
    pm<input type="radio" name="ampm2" value="p.m." />
    <br />
    <br />
    Another set of hours? <br />
    yes<input type="radio" name="multiDay" value="true" />   no<input type="radio" name="multiDay" value="false" /> <br />
    DAY SPAN 2: <input type="text" name="days2" /> <br />
    HOURS 2: <input type="text" name="hours3"/> am<input type="radio" name="ampm3" value="a.m." /> pm
    <input type="radio" name="ampm3" value="p.m." /> TO <input type="text" name="hours4" />am<input type="radio" name="ampm4" value="a.m." />
    pm<input type="radio" name="ampm4" value="p.m." />

    <br />
    <br />
    BANNERS<br />
    Landing Site (Lifestyle or clinical, showcases specialty) <br />
    <input type="text" name="banner1" /> <br />
    Appointments (lifestyle/daily living) <br />
    <input type="text" name="banner2" /><br />
    Providers (Clinical that shows provider interacting with patient) <br />
    <input type="text" name="banner3" /> <br />
    Services (Demonstrates patient experience) <br />
    <input type="text" name="banner4" /><br />
    Location (Showcases transportation) <br />
    <input type="text" name="banner5" /><br />





    <input type="submit" />

</form>